body {
  background-image: linear-gradient(#ECFFFE, #7F9694);
}


.heading {
  text-align: center;
  margin-top: 10%;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
  color: black;
}