.container {
    display: flex;
    padding: 1% 10%;
}

.container>div {
    width: 50%;
    padding: 2rem;
}

.container .picture {
    border-left: 2px solid darkgray;
    align-items: center;
    display: flex;
}

.container .picture img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.container h3 {
    font-size: 24px;
    color: black;
}

.w-full {
    width: 100%;
}