.container {
    display: flex;
   
}

h4 {
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.container>div {

    padding: 0 2rem;
}

.container .picture {
    border-left: 2px solid #eaeaea;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container .picture img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container .title {
    display: flex;
    align-items: center;
}

.container .title h3 {
    font-size: 20px;
    color: #616376;
    line-height: 24px;
    font-weight: 600;
}

.container .title img {
    width: 26px;
    height: 26px;
    margin-right: .5rem;
}

.categories {
    display: flex;
    width: 100%;
}

.select-row {
    padding-bottom: 1rem;
}

.categories .category-btn,
.fabric-btn {
    padding: 25px 30px;
    margin-right: 1rem;
    background-color: white;
    border-radius: 5%;
    cursor: pointer;
    min-width: 120px;
    text-align: center;
    border: 2px #b3b3b3 solid;
}

.fabric-btn {
    padding: 20px 25px;
    min-width: 60px;
    border-radius: 20px;
}

.models {
    display: flex;
}

.models .model-ico {
    padding: 25px 30px;
    margin-right: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 120px;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 6px rgba(165, 163, 174, 0.8);
}


.colors-palet {
    display: flex;
}

 .colors-palet .color-ico {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:  2px; solid #fff;
    margin-right: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    box-shadow: 0px 0px 4px rgba(0, 4, 255, 0.73);
    color: #000;
    padding: 5px;
}

.dimensions {
    display: flex
}

.dimensions>div {
    width: 50%;
}

.categories .category-btn.selected,
.model-ico.selected,
.color-ico.selected,
.fabric-btn.selected {
    border: 2px #050080 solid;
    transform: scale(1.01);
}

.selected-model-desc {
    font-size: 1rem;
    padding: .5rem 0rem;
    font-weight: 500;
}

.fade-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
}